**/node_modules
**/dist
**/data
**/storage
**/.env
**/*.log
**/.git
.git
.gitignore
.claude
**/.claude
**/CLAUDE.md
**/.CLAUDE.md
prd_voice_cloning_mvp_fase_1.md
README.md
docker-compose.yml
**/test
**/*.test.js
